@import "tailwindcss";
*{
  margin: 0px;
  padding: 0px;
}

body{
  overflow-x: hidden;
}

.focus{
  position:fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius:0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: rotate(0deg);
}

.hide {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease; 
}

.show {
  transform: translateY(0px);
  opacity: 1;
}
