@import "tailwindcss";
*{
  margin: 0px;
  padding: 0px;
}

.focus{
  position:fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius:0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: rotate(0deg);
}
